name: altmodule
  
on:
  push:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.9', '3.10']
        os: [ubuntu-20.04]
        architecture: ["x64"]

    steps:
    - uses: actions/checkout@v2
    - name: Checkout submodule
      run: |
        git submodule init
        git submodule update
    - name: Check 7z
      run: |
        7z i
    - name: Set up Python ${{ matrix.python-version }}
      if: ${{ matrix.python-version != 'pyston' }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        architecture: ${{ matrix.architecture }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest wheel
    # if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Install
      run: |
        python -m pip install '.'
        python -m pip install isal slz inflate64 codecs7z dclimplode pyzstd pyppmd
    - name: Test
      run: |
        pytest -v
