name: CI
  
on:
  push:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['2.7', '3.5', '3.6', '3.7', '3.8', '3.9', '3.10', 'pypy-2.7', 'pypy-3.7']
        os: [ubuntu-latest]
        include:
          - python-version: '3.4'
            os: ubuntu-18.04
          - python-version: '3.9'
            os: macos-latest
          - python-version: '3.9'
            os: windows-latest
            # architecture: "x64"
          # - python-version: '3.9'
          #   os: windows-latest
          #   architecture: "x86" # some deps don't support sdist and lacks x86 wheels

    steps:
    - uses: actions/checkout@v2
    - name: Checkout submodule
      run: |
        git submodule init
        git submodule update
    - name: Check 7z
      run: |
        7z i
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies for 2.7/3.4/3.5
      if: ${{ matrix.python-version == '2.7' || matrix.python-version == 'pypy-2.7' || matrix.python-version == '3.4' || matrix.python-version == '3.5' }}
      run: |
        sudo apt update
        sudo apt install -y nasm
        python -m pip install cffi
        python -m pip install git+https://github.com/cielavenir/python-isal-py2@0.11.0-py2
        python -m pip install git+https://github.com/cielavenir/pyppmd-py2@py2
        python -m pip install git+https://github.com/cielavenir/zipfile-deflate64@py2
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest wheel
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Install
      run: |
        python -m pip install '.[all]'
    - name: Test
      run: |
        pytest -v
